In [35]:
import pandas as pd
import pickle
from gensim import matutils, models
import scipy.sparse
from nltk import word_tokenize, pos_tag

In [ ]:
!pip install gensim

In [36]:
data = pd.read_pickle('dtm_stop.pkl')
data

,aaaaah,aaaaahhhhhhh,aaaaauuugghhhhhh,aaaahhhhh,aaah,aah,abc,abcs,ability,abject,...,zee,zen,zeppelin,zero,zillion,zombie,zombies,zoning,zoo,éclair
ali,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
anthony,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
bill,1,0,0,0,0,0,0,1,0,0,...,0,0,0,1,1,1,1,1,0,0
bo,0,1,1,1,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
dave,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
hasan,0,0,0,0,0,0,0,0,0,0,...,2,1,0,1,0,0,0,0,0,0
jim,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
joe,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
john,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
louis,0,0,0,0,0,3,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
mike,0,0,0,0,0,0,0,0,0,0,...,0,0,2,1,0,0,0,0,0,0
ricky,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,1,0

In [37]:
tdm = data.transpose()
tdm.head()

,ali,anthony,bill,bo,dave,hasan,jim,joe,john,louis,mike,ricky
aaaaah,0,0,1,0,0,0,0,0,0,0,0,0
aaaaahhhhhhh,0,0,0,1,0,0,0,0,0,0,0,0
aaaaauuugghhhhhh,0,0,0,1,0,0,0,0,0,0,0,0
aaaahhhhh,0,0,0,1,0,0,0,0,0,0,0,0
aaah,0,0,0,0,1,0,0,0,0,0,0,0

In [38]:
# We're going to put the term-document matrix into a new gensim format, from df --> sparse matrix --> gensim corpus
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)

In [39]:
# Gensim also requires dictionary of the all terms and their respective location in the term-document matrix
cv = pickle.load(open("cv_stop.pkl", "rb"))
id2word = dict((v, k) for k, v in cv.vocabulary_.items())

In [40]:
# Now that we have the corpus (term-document matrix) and id2word (dictionary of location: term),
# we need to specify two other parameters as well - the number of topics and the number of passes
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=2, passes=10)
lda.print_topics()

[(0,
  '0.006*"say" + 0.005*"cause" + 0.005*"thing" + 0.005*"day" + 0.004*"didnt" + 0.004*"theyre" + 0.004*"hes" + 0.004*"really" + 0.004*"id" + 0.004*"theres"'),
 (1,
  '0.010*"fucking" + 0.007*"fuck" + 0.007*"shit" + 0.005*"going" + 0.005*"want" + 0.005*"oh" + 0.005*"say" + 0.005*"man" + 0.005*"theyre" + 0.004*"hes"')]

In [41]:
# LDA for num_topics = 3
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=10)
lda.print_topics()

[(0,
  '0.009*"fucking" + 0.007*"say" + 0.006*"fuck" + 0.006*"shit" + 0.006*"theyre" + 0.006*"going" + 0.005*"want" + 0.005*"didnt" + 0.005*"did" + 0.004*"hes"'),
 (1,
  '0.006*"cause" + 0.006*"says" + 0.005*"really" + 0.005*"say" + 0.004*"mean" + 0.004*"goes" + 0.004*"oh" + 0.004*"way" + 0.004*"didnt" + 0.004*"id"'),
 (2,
  '0.008*"fucking" + 0.007*"shit" + 0.006*"fuck" + 0.005*"good" + 0.005*"hes" + 0.005*"oh" + 0.005*"thing" + 0.005*"man" + 0.004*"went" + 0.004*"want"')]

In [42]:
# LDA for num_topics = 4
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=4, passes=10)
lda.print_topics()

[(0,
  '0.000*"oh" + 0.000*"say" + 0.000*"fucking" + 0.000*"want" + 0.000*"hes" + 0.000*"thing" + 0.000*"fuck" + 0.000*"going" + 0.000*"man" + 0.000*"theyre"'),
 (1,
  '0.011*"fucking" + 0.007*"fuck" + 0.007*"shit" + 0.006*"theyre" + 0.006*"hes" + 0.006*"didnt" + 0.006*"say" + 0.005*"thing" + 0.005*"went" + 0.005*"theres"'),
 (2,
  '0.006*"going" + 0.006*"dad" + 0.006*"want" + 0.006*"says" + 0.005*"say" + 0.005*"goes" + 0.005*"love" + 0.004*"oh" + 0.004*"really" + 0.004*"shes"'),
 (3,
  '0.005*"love" + 0.005*"day" + 0.005*"shit" + 0.004*"say" + 0.004*"want" + 0.004*"oh" + 0.004*"guys" + 0.004*"lot" + 0.004*"joke" + 0.004*"did"')]

In [43]:
# Let's create a function to pull out nouns from a string of text
def nouns_adj(text):
    '''Given a string of text, tokenize the text and pull out only the nouns and adjectives.'''
    is_noun_adj = lambda pos: pos[:2] == 'NN' or pos[:2] == 'JJ'
    tokenized = word_tokenize(text)
    nouns_adj = [word for (word, pos) in pos_tag(tokenized) if is_noun_adj(pos)] 
    return ' '.join(nouns_adj)

In [44]:
#Read in cleaned data before the CountVectorizer step
data_clean = pd.read_pickle('data_clean.pkl')
data_clean

                                                transcript
ali      ladies and gentlemen please welcome to the sta...
anthony  thank you thank you thank you san francisco th...
bill      all right thank you thank you very much thank...
bo       bo what old macdonald had a farm e i e i o and...
dave     this is dave he tells dirty jokes for a living...
hasan      whats up davis whats up im home i had to bri...
jim         ladies and gentlemen please welcome to the ...
joe         ladies and gentlemen welcome joe rogan  wha...
john     all right petunia wish me luck out there you w...
louis    introfade the music out lets roll hold there l...
mike     wow hey thank you thanks thank you guys hey se...
ricky    hello hello how you doing great thank you wow ...

In [45]:
# Apply the nouns function to the transcripts to filter only on nouns
data_nouns_adj = pd.DataFrame(data_clean.transcript.apply(nouns_adj))
data_nouns_adj

                                                transcript
ali      ladies gentlemen welcome stage ali wong hi wel...
anthony  thank san francisco thank good people surprise...
bill     right thank thank pleasure greater atlanta geo...
bo       old macdonald farm e i i o farm pig e i i snor...
dave     dirty jokes living stare most hard work profou...
hasan    whats davis whats im home i netflix special la...
jim      ladies gentlemen welcome stage mr jim jefferie...
joe      ladies gentlemen joe fuck san francisco thanks...
john     right petunia august thats good right hello he...
louis    music lets lights lights thank much i i i nice...
mike     wow hey thanks hey seattle nice look crazy ins...
ricky    hello great thank fuck thank lovely welcome im...

In [46]:
# Create a new document-term matrix using only nouns and adjectives, also remove common words with max_df
cvna = CountVectorizer(stop_words=stop_words, max_df=.8)
data_cvna = cvna.fit_transform(data_nouns_adj.transcript)
data_dtmna = pd.DataFrame(data_cvna.toarray(), columns=cvna.get_feature_names())
data_dtmna.index = data_nouns_adj.index
data_dtmna

,aaaaah,aaaaahhhhhhh,aaaaauuugghhhhhh,aaaahhhhh,aah,abc,abcs,ability,abject,able,...,ze,zealand,zee,zeppelin,zero,zillion,zombie,zombies,zoo,éclair
ali,0,0,0,0,0,1,0,0,0,2,...,0,0,0,0,0,0,1,0,0,0
anthony,0,0,0,0,0,0,0,0,0,0,...,0,10,0,0,0,0,0,0,0,0
bill,1,0,0,0,0,0,1,0,0,1,...,1,0,0,0,0,1,1,1,0,0
bo,0,1,1,1,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
dave,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
hasan,0,0,0,0,0,0,0,0,0,1,...,0,0,2,0,0,0,0,0,0,0
jim,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
joe,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
john,0,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,1
louis,0,0,0,0,3,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
mike,0,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
ricky,0,0,0,0,0,0,0,1,1,2,...,0,0,0,0,0,0,0,0,1,0

In [47]:
# Create the gensim corpus
corpusna = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmna.transpose()))

# Create the vocabulary dictionary
id2wordna = dict((v, k) for k, v in cvna.vocabulary_.items())

In [48]:
# Let's start with 2 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=2, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.004*"parents" + 0.004*"mom" + 0.003*"friend" + 0.003*"bo" + 0.003*"comedy" + 0.003*"hasan" + 0.002*"york" + 0.002*"jenny" + 0.002*"repeat" + 0.002*"gay"'),
 (1,
  '0.006*"joke" + 0.004*"ass" + 0.003*"gun" + 0.003*"jokes" + 0.003*"guns" + 0.003*"mom" + 0.003*"hell" + 0.002*"dead" + 0.002*"anthony" + 0.002*"dick"')]

In [49]:
# Let's try 3 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=3, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.010*"bo" + 0.008*"repeat" + 0.007*"eye" + 0.007*"contact" + 0.006*"cos" + 0.005*"um" + 0.005*"brain" + 0.004*"sad" + 0.004*"comedy" + 0.004*"song"'),
 (1,
  '0.003*"son" + 0.003*"joke" + 0.003*"ass" + 0.003*"mom" + 0.003*"gun" + 0.003*"ok" + 0.002*"door" + 0.002*"parents" + 0.002*"hasan" + 0.002*"class"'),
 (2,
  '0.005*"mom" + 0.004*"joke" + 0.004*"parents" + 0.004*"friend" + 0.004*"jenny" + 0.003*"clinton" + 0.003*"anthony" + 0.003*"jokes" + 0.003*"cow" + 0.003*"president"')]

In [50]:
# Let's try 4 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.007*"joke" + 0.004*"parents" + 0.004*"mom" + 0.003*"jokes" + 0.003*"bo" + 0.003*"friend" + 0.003*"jenny" + 0.003*"repeat" + 0.003*"dead" + 0.003*"comedy"'),
 (1,
  '0.008*"husband" + 0.007*"ok" + 0.005*"pregnant" + 0.004*"asian" + 0.004*"fingers" + 0.004*"doo" + 0.003*"mom" + 0.003*"wan" + 0.003*"toilet" + 0.003*"ass"'),
 (2,
  '0.006*"hasan" + 0.006*"ahah" + 0.005*"mom" + 0.004*"parents" + 0.004*"nigga" + 0.004*"door" + 0.004*"brown" + 0.004*"gay" + 0.004*"son" + 0.003*"bike"'),
 (3,
  '0.005*"gun" + 0.005*"ass" + 0.005*"guns" + 0.004*"dick" + 0.003*"class" + 0.003*"son" + 0.003*"stupid" + 0.003*"religion" + 0.003*"girlfriend" + 0.003*"sense"')]

In [51]:
# Our final LDA model (for now)
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=80)
ldana.print_topics()

[(0,
  '0.006*"joke" + 0.006*"mom" + 0.005*"hasan" + 0.005*"guns" + 0.004*"anthony" + 0.004*"parents" + 0.004*"class" + 0.004*"gun" + 0.003*"party" + 0.003*"son"'),
 (1,
  '0.005*"jenny" + 0.004*"husband" + 0.003*"texas" + 0.003*"ok" + 0.003*"accident" + 0.003*"friend" + 0.003*"ass" + 0.003*"mom" + 0.003*"stupid" + 0.003*"pregnant"'),
 (2,
  '0.009*"ahah" + 0.007*"nigga" + 0.006*"gay" + 0.004*"son" + 0.004*"oj" + 0.004*"ghetto" + 0.004*"motherfucker" + 0.004*"young" + 0.004*"kevin" + 0.003*"mad"'),
 (3,
  '0.005*"joke" + 0.004*"bo" + 0.003*"dog" + 0.003*"repeat" + 0.003*"hell" + 0.003*"wife" + 0.003*"nuts" + 0.003*"clinton" + 0.003*"parents" + 0.003*"mom"')]

In [52]:
# Let's take a look at which topics each transcript contains
corpus_transformed = ldana[corpusna]
list(zip([a for [(a,b)] in corpus_transformed], data_dtmna.index))

[(1, 'ali'),
 (0, 'anthony'),
 (3, 'bill'),
 (3, 'bo'),
 (2, 'dave'),
 (0, 'hasan'),
 (0, 'jim'),
 (1, 'joe'),
 (3, 'john'),
 (3, 'louis'),
 (1, 'mike'),
 (3, 'ricky')]